@page "/"

<PageTitle>Zone Production Dashboard</PageTitle>

<p>This dashboard is still a work in progress, data may not be 100% accurate. And you will probably encounter a few bugs</p>

<p>At the moment the only way to access the dashboard is on site through the zone wifi for security reasons.</p>

<p>Mobile phones are currently not supported, but enabling the "desktop site" option will give basic access.</p>

<p>If you keep getting a Reconnection errors go into your browser settings then performance. And add https://zonervtrelloboard.azurewebsites.net/ to the list of sites to keep active (currently the is no way to fix this on mobile devices)</p>

@code{
    
}
