@page "/"

<PageTitle>Zone Production Dashboard</PageTitle>

<p>This dashboard is still a work in progress, data may not be 100% accurate.<br/>At the moment the only way to access the dashboard is on site through the zone wifi for security reasons.<br/>Mobile phones are currently not supported, but enabling the "desktop site" option will give basic access.</p>

@code{
    
}
