@page "/SearchVan/{VanName}"

@inherits ProductionPageBase

<PageTitle>@VanName</PageTitle>

@if (string.IsNullOrEmpty(VanName) || string.IsNullOrWhiteSpace(VanName))
{
    <RadzenText></RadzenText>
}
else if (_board is null)
{
    <RadzenText>@VanName not found.</RadzenText>
}
else
{
    <div style="height: calc(100vh - 4.5rem)">
        <VanTitleComponent Van="_board"/>
        <VanView Van="@_board" GridStyles="height: 75vh" @ref="_view"/>
    </div>
}

@code {
    [Inject] 
    public NavigationManager NavigationManager { get; set; } = default!;
    
    [Parameter] 
    public string VanName { get; set; } = default!;

    private VanBoard? _board;
    private VanView? _view;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(ProductionService);

        NavigationManager.LocationChanged += OnNavChanged;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await ShowLoadingDialog();
            
            _board = await ProductionService.GetBoardAsyncByName(VanName);

            if (_board is null)
            {
                CloseLoadingDialog();
                await DialogService.Alert($"{VanName} is not a valid van name.", "Van not found");
                return;
            }
            
            CloseLoadingDialog();
            
            StateHasChanged();
        }
    }

    async void OnNavChanged(object? o, LocationChangedEventArgs e)
    {
        if(e.Location.ToLower().Contains("searchvan"))
            await OnAfterRenderAsync(true);
    }

    public override void Dispose()
    {
        NavigationManager.LocationChanged -= OnNavChanged;
        
        _board = null;
        _view?.Dispose();
        base.Dispose();
    }
}
