@inherits UpdatableComponent

<div style="width: max-content; overflow-x: auto">
    <RadzenRow class="rz-overflow-scroll" Style="padding-top: 1em; padding-bottom: 1em">
        @foreach (IProductionPosition pos in (StatsService.SelectedVanType is TypeOfVan.Gen2) ? Gen2ProductionPosition.GetAll() : ExpoProductionPosition.GetAll())
        {
            <RadzenColumn>
                <div style="height: 4em">
                    <RadzenText TextAlign="TextAlign.Center">@pos.PositionName</RadzenText>
                </div>
                @foreach (var van in Vans.Where(x => x.Position.Equals(pos)))
                {
                    <RadzenRow Gap="1em">
                        <VanButton VanName="@van.Name" DetailedButton="true" Color="#FFFFFF" OverrideColorToStatus="true" UseStatsServiceFilter="true"/>
                    </RadzenRow>
                }
            </RadzenColumn>
        }
    </RadzenRow>
</div>
@code {
    [Inject] 
    public StatsService StatsService { get; set; } = default!;
    
    [Parameter, EditorRequired] 
    public IEnumerable<VanBoard> Vans { get; set; } = default!;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(Vans);

        if (!Vans.All(x => x.VanModel.IsGen2()) || !Vans.All(x => !x.VanModel.IsGen2()))
            throw new ArgumentException("Cannot add vans from seperate lines to production line view compontent");
        
        base.OnInitialized();
    }
}